{% extends "base.html" %}
{% block content %}

<h2>{{ dateToday }}</h2>

<table>
  <tr>
    <td>task</td>
    <td>done?</td> 
  </tr>
{% for todo in todos %}
  <tr>
    <td>{{ todo.description }}</td>
    <td><input type='checkbox' {% if todo.isDone %}checked{% endif %}  }}></input></td>
  </tr>
{% endfor %}
</table>

<a href="javascript:myFunction();">Click here</a>

<hr/>
Add new To Do:

<form action="add" method="post">
    {% csrf_token %}

    {{ form }} 
    <input type="submit" value="Submit" />
</form>

{% endblock %}