{% extends "base.html" %}

{% block script %}

<script>

$(document).ready(function() {
    $(':checkbox').change(function(){
    var id = $(this).attr("data"); 
    var state = $(this).checked;
     $.get('update', {pk: id}, function(data){
            alert('hi');
           });});
});

</script>

{% endblock %}

{% block content %}

<h2>{{ dateToday }}</h2>

<table>
  <tr>
    <td>task</td>
    <td>done?</td> 
  </tr>
{% for todo in todos %}
  <tr>
    <td>{{ todo.description }}</td>
    <td><input id=checkBox{{ todo.pk }} data={{ todo.pk }} type='checkbox' {% if todo.isDone %}checked{% endif %}></input></td>
  </tr>
{% endfor %}
</table>

<a href="javascript:myFunction();">Click here</a>

<hr/>
Add new To Do:

<form action="add" method="post">
    {% csrf_token %}

    {{ form }} 
    <input type="submit" value="Submit" />
</form>

{% endblock %}