<html>
<head>

{% load staticfiles %}
<script src="{% static "js/jquery.js" %}"></script>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css" />

{% block script %}
{% endblock %}
</head>

{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}  <a href="/accounts/logout">[logout]</a></p>
{% else %}
    <p>Welcome, Guest <a href="/accounts/login">[login]</a></p>
{% endif %}

{% autoescape off %}
<h1>{% block title %}{% endblock %}</h1>
{% block content %}
{% endblock %}
{% endautoescape %}
</html>